*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS for Drop Down Menu */
.dropdown {
    margin: 1rem;
    position: relative;
    display: inline-block;
    
}

.dropdown-items {
    position: absolute;
    background-color: rgb(236, 236, 236);
    width: 120px;
}

.dropdown-items a {
    display: block;
    padding: 0.7rem 1rem;
    text-decoration: none;
    color: black;
    
}

.none {
    display: none;
}

.dropbtn {
    border: none;
    background-color: rgb(169, 201, 232);
    padding: 1rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
} 

.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(109, 169, 228);
}

.dropdown-items a:hover {
    background-color: rgb(220, 220, 220);
}

/* CSS for Image Carousel */
.img-carousel {
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

.img-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-slides {
    width: 80%;
    height: 500px;
    background-color: bisque;
}